*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(istockphoto-868243240-170667a.jpg);
    background-repeat: no-repeat;
    color: white;
    font-size: 150%;
    background-size: cover;
}
#form{
    background-color: rgb(36, 35, 35);
    /* height: 800px; */
    opacity: 0.8;
    text-align: center;
    margin: 0 20% 0 20%;
    
}
input{
    border-radius: 9px;
    height: 25px;
}
#button{
    background-color: rgb(88, 7, 7);
    height: 40px;
    color: whitesmoke;
    width: 90px;
    border-radius: 10px;
}
#changerBtn{
    background-color: rgb(88, 7, 7);
    height: 40px;
    color: whitesmoke;
    width: 90px;
}
#h1{
    color: rgb(250, 196, 114);
    background-color: rgb(36, 35, 35);
    opacity: 0.8;
    text-align: center;
    margin: 0 20%;
    font-size: 100%;
}
h2{
    color: rgb(250, 196, 114);
}
#langue{
    height: 35px;
    border-radius: 9px;
}
th{
    border-right:2px solid rgb(248, 248, 248) ;
    width: 2%;
    color: rgb(173, 172, 169);
    
}
img{
    margin-top: 2%;
}
table{
    background-color: rgb(36, 35, 35);
    border-collapse: collapse;
    
   
    opacity: 0.8;
    margin: 0 20%;
    text-align: center;
    
}
td ,th {
    border: 1px solid rgb(7, 7, 7) ;
    height: 50PX;
    

}

th{
    font-weight: bold;
    text-transform: uppercase;
}
#print{
   margin: 0 60% 10%;
   width: 200px;
   height: 30px;
   font-size: large;
}